* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}
body {
  direction: rtl;
}
.header-wrrapper {
  max-width: 1440px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.top-header {
  height: 96px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
}
.logo {
  text-decoration: none;
  font-family: Iranian Sans;
  font-weight: 500;
  font-size: 34px;
  color: #7854f7;
}
.logo1 {
  text-decoration: none;
  font-family: Iranian Sans;
  font-weight: 500;
  font-size: 34px;
  color: #272d4e;
}
.top-header-search-bar {
  height: 56px;
  width: 406px;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  border-radius: 8px;
}
.search-img {
  height: 24px;
  width: 24px;
}
.top-header-search-bar1 {
  border: medium none;
  height: 48px;
  width: 382px;
  font-family: Iranian Sans;
  font-size: 16px;
  padding-right: 16px;
}
.login-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.user-login {
  text-decoration: none;
  font-family: Iranian Sans;
  font-size: 16px;
  color: black;
}
.buy-basket {
  background-color: #ff4842;
  cursor: pointer;
  outline: medium none;
  border: medium none;
  height: 44px;
  width: 141px;
  border-radius: 7px;
}
.bottom-header {
  height: 56px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 290px;
  background-color: #f3f3f3;
  border-width: 1px 0px 1px 0px;
  border-style: solid;
  border-color: #003f6280;
}
.nav-bar {
  text-decoration: none;
  font-family: Iranian Sans;
  font-weight: 500;
  font-size: 16px;
  color: #272d4e;
  display: flex;
  align-items: center;
  gap: 5px;
  letter-spacing: 0px;
}
.main-wrapper {
  width: 100%;
  max-width: 1440px;
  height: 798px;
}
.top-main-info {
  background-image: url(images/mainimage.png);
  background-repeat: no-repeat;
  height: 600px;
  width: 100%;
  background-position: center;
  background-size: cover;
}
.top-main {
  height: 771px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main-right-info {
  display: flex;
}
